.svn
target/
*~
.settings*
bin/
dist/
*.class
*classes/
WEB-INF/classes/*
*.war
CVS*
.cvsignore*
*.log*
classpath
*data/elasticsearch*
hs_err_pid*
pom.xml.bak
.project
.classpath
sdc.pid
 
sdc-sdks/sdc-sdk-java/*
!sdc-sdks/sdc-sdk-java/pom.xml
!sdc-sdks/sdc-sdk-java/.keep
!sdc-sdks/sdc-sdk-java/.gitignore

sdc-sdks/sdc-sdk-android/*
!sdc-sdks/sdc-sdk-android/pom.xml
!sdc-sdks/sdc-sdk-android/.keep
!sdc-sdks/sdc-sdk-android/.gitignore

sdc-sdks/sdc-sdk-clojure/*
!sdc-sdks/sdc-sdk-clojure/.keep
!sdc-sdks/sdc-sdk-clojure/.gitignore

sdc-sdks/sdc-sdk-csharp/*
!sdc-sdks/sdc-sdk-csharp/.keep
!sdc-sdks/sdc-sdk-csharp.Test/
!sdc-sdks/sdc-sdk-csharp/.gitignore

sdc-sdks/sdc-sdk-java/*
!sdc-sdks/sdc-sdk-java/.keep
!sdc-sdks/sdc-sdk-java/.gitignore

sdc-sdks/sdc-sdk-javascript/*
!sdc-sdks/sdc-sdk-javascript/.keep
!sdc-sdks/sdc-sdk-javascript/.gitignore

sdc-sdks/sdc-sdk-nodejs/*
!sdc-sdks/sdc-sdk-nodejs/.keep
!sdc-sdks/sdc-sdk-nodejs/.gitignore

sdc-sdks/sdc-sdk-objc/*
!sdc-sdks/sdc-sdk-objc/.keep
!sdc-sdks/sdc-sdk-objc/.gitignore

sdc-sdks/sdc-sdk-php/*
!sdc-sdks/sdc-sdk-php/.keep
!sdc-sdks/sdc-sdk-php/.gitignore

sdc-sdks/sdc-sdk-python/*
!sdc-sdks/sdc-sdk-python/.keep
!sdc-sdks/sdc-sdk-python/.gitignore

sdc-sdks/sdc-sdk-ruby/*
!sdc-sdks/sdc-sdk-ruby/.keep
!sdc-sdks/sdc-sdk-ruby/.gitignore

sdc-sdks/sdc-sdk-swift/*
!sdc-sdks/sdc-sdk-swift/.keep
!sdc-sdks/sdc-sdk-swift/.gitignore