.svn
target/
*~
.settings*
bin/
dist/
*.class
*classes/
WEB-INF/classes/*
*.war
CVS*
.cvsignore*
*.log*
classpath
*data/elasticsearch*
hs_err_pid*
pom.xml.bak
.project
.classpath
pier.pid
 
pier-sdks/pier-sdk-java/*
!pier-sdks/pier-sdk-java/pom.xml
!pier-sdks/pier-sdk-java/.keep
!pier-sdks/pier-sdk-java/.gitignore

pier-sdks/pier-sdk-android/*
!pier-sdks/pier-sdk-android/pom.xml
!pier-sdks/pier-sdk-android/.keep
!pier-sdks/pier-sdk-android/.gitignore

pier-sdks/pier-sdk-clojure/*
!pier-sdks/pier-sdk-clojure/.keep
!pier-sdks/pier-sdk-clojure/.gitignore

pier-sdks/pier-sdk-csharp/*
!pier-sdks/pier-sdk-csharp/.keep
!pier-sdks/pier-sdk-csharp.Test/
!pier-sdks/pier-sdk-csharp/.gitignore

pier-sdks/pier-sdk-java/*
!pier-sdks/pier-sdk-java/.keep
!pier-sdks/pier-sdk-java/.gitignore

pier-sdks/pier-sdk-javascript/*
!pier-sdks/pier-sdk-javascript/.keep
!pier-sdks/pier-sdk-javascript/.gitignore

pier-sdks/pier-sdk-nodejs/*
!pier-sdks/pier-sdk-nodejs/.keep
!pier-sdks/pier-sdk-nodejs/.gitignore

pier-sdks/pier-sdk-objc/*
!pier-sdks/pier-sdk-objc/.keep
!pier-sdks/pier-sdk-objc/.gitignore

pier-sdks/pier-sdk-php/*
!pier-sdks/pier-sdk-php/.keep
!pier-sdks/pier-sdk-php/.gitignore

pier-sdks/pier-sdk-python/*
!pier-sdks/pier-sdk-python/.keep
!pier-sdks/pier-sdk-python/.gitignore

pier-sdks/pier-sdk-ruby/*
!pier-sdks/pier-sdk-ruby/.keep
!pier-sdks/pier-sdk-ruby/.gitignore

pier-sdks/pier-sdk-swift/*
!pier-sdks/pier-sdk-swift/.keep
!pier-sdks/pier-sdk-swift/.gitignore